  <div>
    <form [formGroup]="form" class="form">
      <nz-form-item class="form_item">
        <nz-form-control nzErrorTip="Please input information!">
            <textarea nz-input [(ngModel)]="value" formControlName="information" placeholder="Information" nzAutosize></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="buttons">
            <button nz-button class="button" *ngIf="!isVisible" [nzGhost]="!isVisible" nzType="primary" nzShape="circle" [nzLoading]="loading" [disabled]='!form.dirty' (click)="submitForm()">
              <i nz-icon nzType="plus"></i>
            </button>
            <button nz-button class="button" *ngIf="isVisible" [nzGhost]="!isVisible" nzType="primary" nzShape="circle" [nzLoading]="loading">
              <i nz-icon nzType="sync"></i>
            </button>
            <button nz-button class="button" nzType="default" nzShape="circle" (click)="cancelModal()">
              <i nz-icon nzType="minus"></i>
            </button>
          </div> 
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
