<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Scheduling of: {{marcacao?.date | date: 'dd-MMM-yyyy'}}"
  (nzOnCancel)="cancelModal()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="loading"
>
  <ng-container *nzModalContent>
    <div class="addInfo">
      <app-add-events (newItem)='onAddedElement($event)' [date]="marcacao?.date" [value]="value" [isVisible]="updateVisible"></app-add-events>
    </div>
    <nz-table #editRowTable  [nzData]="marcacao?.agendamentos" [nzScroll]="{ y: '240px' }">
      <thead>
        <tr>
          <th nzWidth="80%">Event</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable?.data" class="editable-row" (click)="selectElement(data.informacao)">
          <td nzWidth="80%">
            {{ data.informacao }}
          </td>
          <td>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(marcacao?.date , data.informacao)">
              <i nz-icon nzType="delete" nzTheme="fill"></i>
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
   
  </ng-container>
</nz-modal>
