<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Scheduling of: {{marcacao?.date | date: 'dd-MMM-yyyy'}}"
  (nzOnCancel)="cancelModal()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="loading"
>
  <ng-container *nzModalContent>
    <div class="addInfo">
      <app-add-events (add)="onAddedElement($event)" [date]="marcacao?.date" [value]="value" [isVisible]="updateVisible"></app-add-events>
    </div>
    <nz-table #editRowTable  [nzData]="marcacao?.agendamentos" [nzScroll]="{ y: '240px' }">
      <thead>
        <tr>
          <th nzWidth="80%">Event</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agenda of editRowTable?.data" class="editable-row" (click)="selectElement(agenda.informacao)">
          <td nzWidth="80%">
            {{ agenda.informacao }}
          </td>
          <td>
           <a nz-popconfirm nzPopconfirmTitle="Are you sure want to delete?" (nzOnConfirm)="deleteRow(agenda)">
                      <i nz-icon nzType="delete" nzTheme="outline"></i>
                      
                    </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
   
  </ng-container>
</nz-modal>
