<div class="container">
  <nz-calendar [nzFullscreen]="true" (nzSelectChange)="getDay($event)">
    <ul *nzDateCell="let date" class="events">
      <ng-container [ngSwitch]="date.getDate()">
        <li *ngFor="let agenda of source">
          <div *ngIf="check(agenda.data, date)">
            <nz-badge nzStatus="success" [nzText]="agenda.informacao"></nz-badge>
          </div>
        </li>
      </ng-container>
    </ul>
    <ng-container *nzMonthCell="let month">
      <div *ngIf="getMonthData(month) as monthData" class="notes-month">
        <section>{{ monthData }}</section>
        <span>Backlog number</span>
      </div>
    </ng-container>
  </nz-calendar>
  <app-list-events (elements)="source"></app-list-events>
</div>