
.container{
  height: 99.5%;
  padding-top: 0.1rem;
  overflow: hidden;
  display: flex;
}

.container .left{
  width: 70%;
  height: 100%;
  border: none;
  border-Radius: 4px;
  overflow: hidden;
}

.container .rigth{
  width: 30%;
  padding-left: 1rem;
}

.events {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .events .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
      }

      .notes-month {
        text-align: center;
        font-size: 28px;
      }

      .notes-month section {
        font-size: 28px;
      }
